body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
h1 {
	width: 560px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	color: #201b2d;
	margin:0;
}
.header {
	width: 100%;
	background: rgb(77,191,254);
	background: -webkit-linear-gradient(left, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -o-linear-gradient(left, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
	background: linear-gradient(to right, rgba(77,191,254,1) 0%, rgba(55,143,217,1) 100%);
	color: #fff;
	padding-top: 66px;
	padding-bottom:144px;
}
.container {
	width: 1167px;
	margin: 0 auto ;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.title {
	color: #ffffff;
	font-size: 37px;
	line-height: 1.32;
  	letter-spacing: 0.74px;
}
.title span {
	font-size: 59px;
  	line-height: 1.24;
 	letter-spacing: 1.18px;
}
.intro {
	width:397px;
	font-size:16px;
	line-height: 1.69;
  	letter-spacing: 0.32px;
	margin-top: 25px;
	margin-bottom: 45px;
}
.btn {
	display: block;
	width: 222px;
   	background-color: #ffd429;
   	font-family: 'Montserrat', sans-serif;
   	font-size:15px;
   	font-weight:bold; 
   	color:#2e2a1b;
   	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	padding:22px 27px; 
}
.btn:hover {
	color: #f4a513;
}
.planet {
	margin-right: -60px;
}
.section_1{
	width: 100%;
	padding-top: 108px;
	padding-bottom:120px;
}	
.future {
	font-size: 30px;
	text-align: center;
}
.expections {
	display: flex;
	justify-content: space-between;
	margin-top:81px;
	text-align: center;
}
.expection {
	width: 287px;
	background: url('../img/icon1.jpg') no-repeat top;
	padding-top:60px;
}
.expection-title {
	font-size: 19px;
	margin-top:31px;
}
.expection-text {
	font-family: 'Ubuntu', sans-serif;;
	font-size: 15px;
	font-weight: 400;
	color: #201b2d;
}
.time {
	margin-top:10px;
}
.free-time {
	margin-top:23px;
}
.traveling {
	background: url('../img/icon2.jpg') no-repeat top;
}
.valuable {
	background: url('../img/icon3.jpg') no-repeat top;
}
.creat_valuable {
	width: 295px;
}
.section_2 {
	width: 100%;
	max-width: 100%;
	background:#ecf3f8;
	padding-top: 104px;
	padding-bottom: 110px;
}
.order_tickets {
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top:57px;
	align-items: center;
}
.input {
	display: box;
	direction: flex;
	width: 343px;
  	height: 48px;
  	border-radius: 3px;
  	border: solid 1px #bbbbbb;
  	font-family: Ubuntu;
  	font-size: 15px;
  	opacity: 0.55;
  	margin-bottom:15px;
  	padding-left: 25px;
}
.btn-form {
	 width: 343px;
	 border: 0;
}
.footer {
	width: 100%;
	padding-top: 62px;
	padding-bottom:66px;
  	background: #164d7a;
}
.copyrighting {
	font-size: 14px;
	text-align: center;
}
.red {
	color:red;
}

@media screen and (max-width: 1900px){
	.container {
		max-width: 1140px;
	}
}

@media screen and (max-width: 1200px){
	.header {
		padding-bottom: 90px;
	}
	.container {
		width:960px; 
	}	
	.wrapper {
	flex-direction: column;
    margin-top: 30px;
	}
	.btn{
		width: 100%;
		font-size:20px;
	}
	.planet {
		width: 641px;
		margin:auto;
	}
	.expections {
		margin-right: 10px;	
	}
	.btn-form{
		font-size: 15px;
		width: 343px;
	}	
}	

@media screen and (max-width: 992px){
	.container {
		width:720px; 
	}
	.expections {
		margin-right:0px;
		flex-direction: column;
		align-items: center;
	}
	.traveling {
		margin:30px;
	}	
}
@media screen and (max-width: 768px){
	.container {
		width:560px; 
	}
	.planet {
		width: 100%;
		margin: auto;
	}
}
@media screen and (max-width: 576px){
	.container {
		width:90%; 
	}
	.offer {
		width: 100%;
	}	
	.title{
	    width: 100%;
	}
	.intro {
		width: auto;
	}
	.input {
		width: auto;
	}
	.btn-form {
		width: 236px;
	}		
}


